/* ------------------------
General
------------------------- */
*,
html,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  background-color: white;
}
section {
  position: relative;
  padding: 60px 0;
  background-color: white;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
}
.get h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
}
.paragraph p {
  font-size: 13px;
  font-weight: 500;
  color: #90909d;
  line-height: 27px;
}
/* -----------------------------
header
-------------------------------- */
header {
  background-color: #a570f6;
}
.contact {
  height: 60px;
  background: radial-gradient(#a570f6 80%, #a570f6 20%);
}
i {
  color: white;
}
.contact-details {
  padding-left: 10px;
  margin-bottom: 0;
  color: white;
  font-size: 13px;
}

/* ------------------------------
empowering section
--------------------------------- */
.empowering {
  background-color: #112047;
  padding-top: 0;
  align-items: center;
}
.nav-content {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.pages {
  background-color: #162449;
  padding: 20px 0;
}
.content p {
  color: #d9d6d6;
  font-size: 13px;
}
.content p span {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.nav-content li {
  font-size: 14px;
}
.nav-content li i {
  margin-left: 4px;

  vertical-align: middle;
  font-size: 8px;
}
.navbar-icon {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 50%;
  margin-right: 10px;
}
.navbar-icon i {
  padding: 15px;
}
.avatar-group {
  display: flex;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  margin-left: -15px;
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avatar-group div:nth-child(5) {
  border: none;
  height: auto;
  width: 200px;
  border-radius: 0;
  color: white;
  margin: 9px 0 0 15px;
  font-size: 19px;
  font-weight: 600;
}
.avatar-group div:nth-child(1) {
  margin-left: 0;
}
.empowering-link {
  width: 35%;
  height: 47px;
  /* background-color: #6608f1; */
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  border: 2px solid #6608f1;
}
.empowering-link .arrow-icon {
  height: 15px;
  width: 15px;
  border: 2px solid white;
  border-radius: 50%;
  /* padding-left: 1px; */
  /* text-align: center; */
  /* line-height: 53px; */
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empowering-link i {
  font-size: 8px;
}
.empowering-link:hover {
  background-color: #6608f1;
  color: white;
}
.single-men {
  width: 100%;
  position: relative;
  height: 460px;
}
.single-men img {
  border-radius: 50%;
  width: 100%;
  height: 530px;
  object-fit: cover;
}
.customer-review {
  position: absolute;
  right: 18%;
  top: 27%;
  padding: 15px 25px 15px 15px;
  background-color: white;
  border-radius: 10px;
}
.customer-review i {
  font-size: 19px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  padding: 13px;
  border-radius: 50%;
  margin-right: 10px;
}
.customer-review h6 {
  font-size: 26px;
  font-weight: 700;
  color: #a570f6;
  line-height: 15px;
}
.customer-review h6 span {
  font-size: 12px;
  color: black;
  margin-left: 5px;
  font-weight: 500;
}
.light-icon {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 47%;
  right: 46%;
}
.light-icon i {
  color: #a570f6;
  padding: 24px;
  font-size: 39px;
}
.empowering-card {
  margin-bottom: -50px;
  position: relative;
  z-index: 2;
}
.empowering .card {
  height: 200px;
  width: 100%;
  padding: 59px 20px 25px 20px;
  margin-bottom: -116px;
  text-align: center;
  border-radius: 6px;
  margin-top: 180px;
}
.number-circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  position: absolute;
  top: -28px;
  left: 105px;
  align-items: center;
  font-weight: 700;
}
.empowering .card .card-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}

/* .nav-content {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
} */
.empowering h1 {
  color: white;
  font-size: 78px;
  font-weight: 700;
  line-height: 74px;
  font-size: 60px;
  padding-top: 24px;
}
/* .empowering button span i {
  border: 2px solid white;
  padding: 3px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 9px;
} */
/* .empowering button {
  height: 47px;
  width: 169px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
}
.empowering button:nth-child(2) {
  margin-left: 20px;
  background: transparent;
  border: 2px solid #a570f6;
} */

/* ------------------
about
---------------------- */
.clients {
  margin-top: 173px;
}

.show-information-btn {
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  color: white;
  border: none;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
}
.show-information-btn span i {
  padding: 5px;
  vertical-align: baseline;
  font-size: 12px;
  margin-left: 3px;
}
.women-facing-towards {
  width: 290px;
  height: 399px;
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 4px;
  /* margin-top: 54px; */
}
.women-facing-towards img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.women-talking {
  width: 238px;
  height: 237px;
  /* border: 2px solid red; */
  margin-top: 164px;
  margin-left: 12px;
  border-radius: 4px;
  overflow: hidden;
}
.women-talking img {
  height: 238px;
  width: 100%;
  object-fit: cover;
}
.people-icon i {
  font-size: 35px;
  padding: 20px;
}
.people-icon {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 50%;
  margin-right: 10px;
}

.sub-title h6 {
  font-size: 16px;
  background: -webkit-linear-gradient(49deg, rgb(183 147 239) 0%, #2207f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 3px;
  /* background-color: linear-gradient(90deg, rgba(160,106,245,1) 0%, rgba(56,40,240,1) 100%); */
  margin-bottom: 8px;
  /* color:linear-gradient(90deg, rgba(160,106,245,1) 0%, rgba(56,40,240,1) 100%); */
}
.clients-number {
  position: absolute;
  left: 231px;
  border: 4px solid #a570f6;
  border-radius: 10px;
  /* padding: 10px; */
  background-color: white;
  top: 67px;
  height: 143px;
  width: 291px;
}
.about-play-icon {
  position: absolute;
  left: 70%;
  bottom: 26%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-play-icon i {
  font-size: 15px;
  color: #a570f6;
}
.client {
  position: absolute;
  left: 37%;
  top: 3%;
  border: 4px solid
    linear-gradient(90deg, rgba(160, 106, 245, 1) 0%, rgba(56, 40, 240, 1) 100%);
  border-radius: 10px;
  padding: 36px 30px;
  /* background-color: linear-gradient(90deg, rgba(160,106,245,1) 0%, rgba(56,40,240,1) 100%); */
  /* border-color: linear-gradient(90deg, rgba(160,106,245,1) 0%, rgba(56,40,240,1) 100%); */
  border: 5px solid;
  border-image-source: linear-gradient(
    346deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-width: 6px;
  border-image-slice: 1;
  background: white;
}
.client i {
  font-size: 29px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 100%;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 59px;
}
.client h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 26px;
  margin-bottom: 0;
}
.client h4 span {
  font-size: 16px;
  font-weight: 600;
}

.sample-text {
  color: #878796;
  line-height: 39px;
  font-size: 18px;
  padding-bottom: 7px;
}
.about .arrow-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  text-align: center;
  line-height: 15px;
  margin-right: 10px;
}
.about .arrow-icon i {
  color: white;
  font-size: 10px;
}
.about-link {
  width: 25%;
  height: 47px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}
.about-link:hover {
  color: white;
  background: #a570f6;
  /* border:2px solid #6608f1; */
}

.about-link i {
  font-size: 10px;
  padding-left: 5px;
}
/* .about .arrow {
  color: white;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 50%;
  font-size: 10px;
  margin-right: 15px;
} */
.services-offered {
  margin: 130px 0 105px 0;
}
.innovative-instructions h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.about-card {
  margin-bottom: -126px;
}
.about .card {
  height: 234px;
  width: 100%;
  position: relative;
  padding: 48px 30px 10px 30px;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #f9f9f9;
  border: none;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%);
}
.about-card .card .computer-icon {
  height: 65px;
  width: 67px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12%;
}
.about-card .card .computer-icon i {
  font-size: 25px;
}
.about-card .card .card-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 24px;
}
.about-card .card .card-link:hover {
  color: #6608f1;
}
.about-card .card .pluse-icon {
  height: 18px;
  width: 18px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.about-card .card .pluse-icon i {
  font-size: 9px;
}
/* .about .card .computer-icon {
  position: absolute;
  top: -23px;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  margin: 0 20px;
  font-size: 25px;
  padding: 20px;
} */
.about .card .card-title {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
/* .about .card .pluse-icon {
  background: linear-gradient( 90deg, rgba(160, 106, 245, 1) 0%, rgba(56, 40, 240, 1) 100% );
  border-radius: 100%;
  margin-left: 10px;
  padding: 5px;
  font-size: 7px;
} */
.projects .card .farms-link {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 237px;
  height: 55px;
  background: white;
  text-decoration: none;
  color: black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
}
.projects .card .farms-link .right-arrow-icon {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  width: 25%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .card .farms-link span {
  /* color:black; */
  margin-left: 10px;
  font-weight: 700;
}
.projects .card .farms-link:hover .right-arrow-icon {
  background: white;
}
.projects .card .farms-link:hover .right-arrow-icon i {
  color: #6608f1;
}
.projects .card .farms-link:hover {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  color: white;
}
.about .card .card-footer-btn {
  font-size: 14px;
  font-weight: 500;
  /* text-align: start; */
}
.about .paragraph .card-text {
  line-height: 26px;
  color: black;
  font-weight: 600;
  padding-top: 5px;
}

/* ----------------------
our-tech section
---------------------------- */
.our-tech {
  background-color: #f4f5fa;
  min-height: 90vh;
}
.tech {
  padding: 100px 0 50px 0;
}
.our-tech .card .card-img {
  height: 214px;
  width: 100%;
  /* border:2px solid red; */
  /* margin: 13px 0 0 0; */
  overflow: hidden;
}
.our-tech .card {
  height: 350px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.our-tech .card .card-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 8px;
}
.paragraph .role {
  text-align: center;
  line-height: 0;
  padding-top: 15px;
  padding-bottom: 19px;
}
/* .our-tech .card .card-img {
  width:100%;
  height:210px;
} */
.our-tech .card .card-img img {
  height: 210px;
  width: 100%;
  /* transform: translatex(-13%); */
  object-fit: cover;
}
.social i {
  margin: 0 3px;
  color: #c2bebe;
  background-color: #f5f6fb;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 5px;
}

/* --------------------------
get-in-touch
------------------------------ */
.get-in-touch {
  padding-bottom: 193px !important;
}
.field {
  padding: 15px 43px;
  border: 1px solid #dcdada;
}
.field-name p {
  margin-bottom: 0;
}
.message-field {
  padding: 30px 193px;
  border: 1px solid #dcdada;
}
.form-submit-btn {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border: none;
  color: white;
  border-radius: 4px;
}
.form-submit-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(56, 40, 240, 1) 0%,
    rgba(160, 106, 245, 1) 100%
  );
}
.learn-men {
  width: 100%;
  overflow: hidden;
  /* border:1px solid red; */
}
.learn-men img {
  width: 615px;
}
/* ----------------------------
projects
-------------------------------- */
.projects {
  background-color: #0e1e2b;
  min-height: 60vh;
}
.project-analysis {
  height: 150px;
  background: linear-gradient(56deg, rgb(167 130 226) 0%, rgb(37 21 224) 100%);
  padding: 0 50px;
  margin-top: -131px;
  border-radius: 5px;
}
.project-plans {
  margin-left: 20px;
}
.project-plans p {
  margin-bottom: 0;
  font-weight: 600;
}
.project-plans h4 {
  font-weight: 700;
}
.work-gallery {
  padding-top: 108px;
  padding-bottom: 63px;
}

.project-analysis i {
  border: 0.5px solid rgb(193 186 186);
  padding: 15px;
  font-size: 26px;
  border-radius: 5px;
}
.work-gallery .services {
  margin-bottom: 0;
}
.projects .card {
  height: 368px;
  width: 100%;
  /* margin-bottom: -372px; */
  position: relative;
  z-index: 2;
  border-radius: 0;
  border: none;
}
.projects-img {
  height: 368px;
  width: 100%;
  /* border: 1px solid red; */
  overflow: hidden;
  border-radius: 4px;
}
.projects-img img {
  height: 366px;
  width: 100%;
  object-fit: cover;
}
.project-farms {
  height: 52px;
  width: 228px;
  background-color: white;
  position: absolute;
  bottom: 21px;
  border-radius: 3px;
}
.project-farms:hover {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
}
.project-farms i {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  color: white;
  padding: 20px;
  height: 52px;
  width: 52px;
}
.project-farms i:hover {
  color: #6608f1;
  background: white;
}
.project-farms p {
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: 700;
}
.project-farms p:hover {
  color: white;
}
.projects-view {
  margin-bottom: -40%;
}
/* --------------------------
process
------------------------------- */

.process {
  padding: 200px 0 50px 0 !important;
}
.process .card {
  height: 232px;
  width: 100%;
  position: relative;
  border-radius: 8 px;
  border: none;
}
.process .cloud-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.process .cloud-icon i {
  color: #a570f6;
  font-size: 30px;
}
.step-by-step-process {
  height: 232px;
  width: 100%;
  /* border:1px solid red; */
  overflow: hidden;
  border-radius: 6px;
}
.step-by-step-process img {
  height: 232px;
  width: 100%;
  object-fit: cover;
}
.square-number {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: 23px;
  color: #a570f6;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 7%);
  font-size: 20px;
  font-weight: 700;
}
.process .view-process-link {
  width: 13%;
  height: 47px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
  /* margin-right: 30px; */
  letter-spacing: 1px;
}
.process .view-process-link:hover {
  background: #6608f1;
  color: white;
}
.process .view-process-link .plus-icon {
  margin-left: 8px;
}
.process .view-process-link .plus-icon i {
  font-size: 10px;
}
/* .process .show-information-btn {
  letter-spacing: 1px;
} */
/* -----------------------------
faqs
---------------------------------- */

.faqs .play-icon {
  position: absolute;
  color: #a570f6;
  bottom: 0px;
  background-color: white;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 48%;
  left: 20%;
  font-size: 25px;
  border-radius: 50%;
}
.group-of-people-card {
  padding: 0;
}
.more-information {
  color: #a570f6;
}
.got-something {
  background-color: #f4f5fa;
}
.got-some {
  padding: 60px 0 60px 40px;
}
.contrary {
  background-color: white;
  padding: 18px 15px;
  margin-top: 20px;
  border-radius: 4px;
}
.contrary h5 {
  font-size: 14px;
  font-weight: 700;
}
.contrary h6 {
  font-size: 15px;
  font-weight: 700;
}
.contrary i {
  font-size: 12px;
  color: #a570f6;
}
.contrary .paragraph .par {
  padding-right: 25px;
}
.faqs .card {
  height: 661px;
  width: 100%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: relative;
}
.group-of-people {
  width: 100%;
  /* border: 1px solid red; */
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.group-of-people img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

/* -------------------
blogs section
--------------------- */
.blogs {
  padding: 0 0 60px 0 !important;
}
.blogs .card {
  height: 520px;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  border: none;
}
.blogs .card .card-img {
  height: 269px;
  width: 100%;
  /* border:1px solid red; */
  overflow: hidden;
}
.blogs .card .card-img img {
  width: 100%;
  height: 269px;
}
.card-date {
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  padding: 10px;
  bottom: 228px;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.blogs .card .card-title {
  font-size: 19px;
  margin-top: 15px;
  font-weight: 700;
}
.card-date p {
  margin-bottom: 0;
  margin-left: 6px;
  color: white;
  font-size: 13px;
  font-weight: 500;
}
.blogs .read-link {
  width: 37%;
  border: 2px solid #d0cdcd;
  background-color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px;
  height: 40px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  display: flex;
}
.blogs .read-link .arrow-icon i {
  color: #a570f6;
}
.blogs .read-link .arrow-icon {
  margin-left: 10px;
}
.blogs .read-link:hover {
  border: 2px solid #6608f1;
}
/* .blogs .card button {
  background-color: white;
  border-radius: 4px;
  width: 150px;
  border: 2px solid #d0cdcd;
  padding: 10px;
  border-color: #a570f6;
  font-size: 12px;
  font-weight: 700;
}
.blogs .card button:hover {
  border: 2px solid #6608f1;
}
.blogs .card button i {
  color: #6608f1;
  padding: 5px;
} */

/* -------------------------
Footer
----------------------------- */
footer {
  background-color: #0e1e2b;
}
footer h5 {
  color: white;
}
.footer-row {
  padding: 60px 0;
}
.footer-content p {
  font-size: 13px;
  color: white;
  font-weight: 200;
  line-height: 25px;
  margin-bottom: 0;
}
footer .fa-phone {
  border-radius: 5px;
}
.footer-social {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.footer-social a {
  text-decoration: none;
}
.footer-social .footer-social-icons {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #26343f;
  margin: 25px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social .footer-social-icons i {
  font-size: 20px;
}
.footer-social .footer-social-icons:hover {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
}
/*.footer-social-icons ul {

}
.footer-social-icons ul li {
     /* background-color: red; */
/* background-color: #26343f;
     padding: 10px;
     margin: 10px 4px;
     border-radius: 5px;
}
.footer-social-icons ul li:hover {
     background: linear-gradient( 90deg, rgba(160, 106, 245, 1) 0%, rgba(56, 40, 240, 1) 100% );

}  */
footer input {
  height: 46px;
}
footer .footer-social-icons {
  margin-top: 17px;
}
.send-icon {
  /* height: 44px; */
  /* width: 36px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.input-group .btn {
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border: none;
}

.footer-img {
  /* width: 71px; */
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.footer-img img {
  width: 60px;
  height: 62px;
  object-fit: cover;
}
footer .calender {
  font-size: 13px;
  background: -webkit-linear-gradient(
    49deg,
    rgba(171, 123, 246, 1) 0%,
    rgba(116, 35, 239, 1) 53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}
.free-links {
  list-style: none;
  padding: 0;
}
.free-links li a {
  text-decoration: none;
  color: #c9c5c5;
  display: inline-block;
  padding: 2px 5px;
  margin: 3px 0;
  font-size: 13px;
}
.free-links li a:hover {
  color: #a570f6;
}
.fet i {
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(160, 106, 245, 1) 0%,
    rgba(56, 40, 240, 1) 100%
  );
  border-radius: 5px;
  margin-right: 14px;
}
.fet ul {
  padding: 0;
}
.fet ul li {
  margin: 12px 0;
}
.fet ul li p {
  color: #dcdada;
  font-size: 13px;
}
.footer-icon {
  border-radius: 4px;
  background-color: #a570f6;
  margin-right: 20px;
}
.fet p {
  margin-bottom: 0;
}
.footer-bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 0;
}
.footer-bottom {
  border-top: 1px solid rgba(203, 201, 200, 0.2);
  padding: 15px 0;
}
